/************************************************************************
 * @project Gutuma Newsletter Managment
 * @authors Rowan Seymour, Thomas Ingles
 * @copyright This source is distributed under the GPL
 * @file Default theme main stylesheet
 */
/* 5.6 */
.button{
	white-space: nowrap;
}
.in_gutuma{
	background-color: #393939;
}
#send_form input[type="text"], #send_form #msg_text{
	width: 100%;
}
#list_name,#new_list_name{
	width: 55.5%;
}
.formfield{
	padding: 0.5rem 0px;
	border-bottom: 1px dotted #000;
}
div.formfield > div{
	display: inline-block;
	width: 100%;
	max-width: 70%;
	padding: 0 0 0.5rem;
}
div.formfield.messages > div.formfieldlabel{
	max-width: 70%;
}
div.formfield.messages > div.formfieldcontrols{
	max-width: 20px;
}
div.formfield > div > select{
	max-width: 66%;
}
div.formfield > div.formfieldlabel{
	max-width: 27%;
}
div.formfieldset.gadget div.formfieldlabel{
	max-width: 100%;
}
div.formfieldset.gadget div.formfieldcontrols{
	text-align: center;
	max-width: 100%;
}
div.formfield::after, .formfieldcomment, .formfielddivider{
	content: " ";
	display: block !important;
	clear: both;
}
div.formfieldcomment{
	font-size: small;
	margin-bottom: 10px;
	max-width: 100% !important;
}
.yes{color: green;}
.no{color: red;}
div.formfieldfloat{
	margin-bottom: 1em;
	background-color: rgba(207, 207, 207, 0.207);
}
div.menubar.in-action-bar.lists{
	top: -2.7em;
	overflow: hidden;
}
code{
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	line-height: 16px;
}
textarea{
	background-color: #F8F8F8;
	border-top: 1px solid #abadb3;
	border-right: 1px solid #e3e9ef;
	border-bottom: 1px solid #e3e9ef;
	border-left: 1px solid #e3e9ef;
	padding: 4px;
	margin: 0px;
	font-family: "Courier New", Courier, mono;
}
hr{
	border-top: 1px dotted black;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	height: 1px;
	background-color: white;
}
#demobanner{
	background-color: #f6f8c1;
	border-bottom: 1px solid #e6ea75;
	text-align: center;
	font-weight: bold;
	padding: 3px;
}
.section .action-bar h2{
	font-size: 2.5rem;
	margin-top: -0.1618rem;
	margin-bottom: 0.1618rem;
}
/* Sub menu (action-bar) */
#sectionheader{
	width: 100%;
	overflow: hidden;
}
#sectionmenu{
	line-height: 2;
}
#sectionmenu sup sub{
	line-height: 1;
	display: block;
}
#sectionmenu a.current{
	color: #7dbcb1;
}
#sectionmenu a:hover{
	color: #bdfcf1;
}
#sectionmenu > input{
	margin-top:0.618em;
	margin-bottom:0;
}
/* Other objects */
#content{
	padding: 10px;
	min-height: 300px;
}
.notification {
	margin: 0px 1rem 0px 0px;
}
#errormsg{
	top: 6.6rem;
}
#debugmsg{
	padding: 10px;
	background-color: #FFFFCC;
}
div.menubar{
	background-color: #d8eeea;
	overflow: hidden;
}
.mce-fullscreen{z-index: 10000 !important;}/* responsive menu plx + 1 */
div.menubar.in-action-bar{
	margin-top: 7.2rem;
	background-color: transparent;
	z-index: 99;/* to high in plx */
}
div.messagepreview{
	height: 250px;
	border: 1px solid black;
	padding: 5px;
	overflow: auto;
}
/* Pager bar classes */
div.pager{
	background-color: rgba(207, 207, 207, 0.207);
	overflow: hidden;
	width: 100%;
}
div.pagercontrols{
	float: left;
	width: 140px;
	text-align: center;
	padding: 10px 0px 10px 0px;
}
div.pagerinfo{
	float: right;
	padding: 10px 0px 10px 0px;
}
/* Results table classes */
table{
	width: 100%;
}
table.results tr td{
	border-bottom: 1px dotted black;
	padding: 5px;
}
table.results tr td.emptyresults{
	padding: 10px;
	font-style: italic;
	text-align: center;
}
.should-cut-off{
	max-width: 92%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.subscribe .should-cut-off{
	max-width: 320px;
}
.cell-off{
	min-width: 80%;
}
.cell-off b{
	min-width: 11rem;
	text-align: right;
	padding-right: 1rem;
	display: inline-block;
}
@media (max-width: 767px){
	.in-action-bar{
		z-index: unset;
		text-align: center;
	}
	.imglink img{
		width:27px;
		height:27px;
	}
}
@media (max-width: 480px){
	div.formfield > div{
		max-width: 100% !important;
	}
}
