/************************************************************************
 * @project Gutuma Newsletter Managment
 * @authors Rowan Seymour, Thomas Ingles
 * @copyright This source is distributed under the GPL
 * @file Default theme main stylesheet
 * @modifications thomas Ingles
 *
 * Gutama plugin package
 * @version 2.2.1
 * @date	06/06/2020
 * @author	Thomas INGLES
 */
#langs{display:none;}/* hide plxMyMultilinge flags */
#imghead{display:block;height: auto !important;max-width: 100% !important;}/* img plx admin menu */
#mvto.success{margin: 5px 5px 5px 20px;}
[type="file"], select {/* compose (idea of plux > 5.6) */
 margin: 5px 0;/* 8px 0 (select) */
}
[type="file"] {
 background-color: #E8FEFA;
 /* height: 23px; */
}
#autobatch{text-align:right;}
#progressBar{width:100%;transition: width 1s ease;}
#autobatchmenu{float:left;}
.animate{
/*
	-webkit-animation:spin2 .7s infinite linear;
	animation:spin .7s infinite linear;
*/
  -webkit-animation: sk-bounce 1s infinite ease-in-out;
  animation: sk-bounce 1s infinite ease-in-out;
}
@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.6);
  }
}
@keyframes  sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1.6);
  }
}
@-webkit-keyframes spin2{
	from{-webkit-transform:rotate(0)}
	to{-webkit-transform:rotate(360deg)}
}
@keyframes spin{
	from{transform:scale(1) rotate(0)}
	to{transform:scale(1) rotate(360deg)}
}
/* 5.6 */
.button{
	white-space: nowrap;
}
.in_gutuma{
	background-color: #393939;
}
#send_form input[type="text"], #send_form #msg_text{
	width: 100%;
}
#list_name,#new_list_name{
	width: 33.3%;
}
#list_friend,#new_list_friend{
	width: 44.4%;
}
.formfield{
	padding: 0.5rem 0px;
	border-bottom: 1px dotted #000;
}
div.formfield > div{
	display: inline-block;
	width: 100%;
	max-width: 70%;
	padding: 0 0 0.5rem;
}
div.formfield.messages > div.formfieldlabel{
	max-width: 70%;
}
div.formfield.messages > div.formfieldcontrols{
	max-width: 20px;
}
div.formfield > div > select{
	max-width: 66%;
}
div.formfield > div.formfieldlabel{
	max-width: 27%;
}
div.formfieldset.gadget div.formfieldlabel{
	max-width: 100%;
}
div.formfieldset.gadget div.formfieldcontrols{
	text-align: center;
	max-width: 100%;
}
div.formfield::after, .formfieldcomment, .formfielddivider{
	content: " ";
	display: block !important;
	clear: both;
}
div.formfieldcomment{
	font-size: small;
	margin-bottom: 10px;
	max-width: 100% !important;
}
.yes{color: green;}
.no{color: red;}
div.formfieldfloat{
	margin-bottom: 1em;
	background-color: rgba(207, 207, 207, 0.207);
}
.in-action-bar.lists{
	top: -2.7em;
	overflow: hidden;
}
code{
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	line-height: 16px;
}
textarea{
	background-color: #F8F8F8;
	border-top: 1px solid #abadb3;
	border-right: 1px solid #e3e9ef;
	border-bottom: 1px solid #e3e9ef;
	border-left: 1px solid #e3e9ef;
	padding: 4px;
	margin: 0px;
	font-family: "Courier New", Courier, mono;
}
hr{
	border-top: 1px dotted black;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	height: 1px;
	background-color: white;
}
#demobanner{
	background-color: #f6f8c1;
	border-bottom: 1px solid #e6ea75;
	text-align: center;
	font-weight: bold;
	padding: 3px;
}
.section .action-bar h2{
/*	font-size: 2.5rem; */
}
/* Sub menu (action-bar) */
#sectionheader{
	width: 100%;
	overflow: hidden;
}
/* and Next plx */
#sectionmenu.plx56, #sectionmenu.plx57, #sectionmenu.plx58, #sectionmenu.plx581, #sectionmenu.plx582, #sectionmenu.plx583, #sectionmenu.plx59{
	line-height: 2.2 ;
}
#sectionmenu.plx54,#sectionmenu.plx55{/* pluxml 5.4 et 5.5 fix */
	line-height: 1.5 ;
}
#sectionmenu sup sub{
	line-height: 1;
	display: block;
}
#sectionmenu a.current{
	color: #7dbcb1;
}
#sectionmenu a:hover{
	color: #bdfcf1;
}
#sectionmenu > input{
	font-size: small;/* inherit */
/*	height: auto; 3rem; */
	margin-top:0.1618em;
	margin-bottom:0;
}
#list_name,#new_list_name{
	color: initial;
}
#add_list{}
/* Other objects */
#content{
	padding: 10px;
	min-height: 300px;
}
.gu_notification {
	margin: 0 auto;
	position: relative;
	text-align: center;
	font-weight: normal;
	left: 0;
	right: 0;
}
#gu_statusmsg{}
#gu_errormsg{}
#gu_debugmsg{
	padding: 10px;
	background-color: #FFFFCC;
}
#gu_msg {/* .notification */
	position:fixed;
	top:5px;
	left:5px;
	right:5px;
	z-index:1000000;
	padding: 2px 15px 2px 15px;
	color:#000 !important;
}
div.menubar{
	background-color: #d8eeea;
	overflow: hidden;
}
.mce-fullscreen{z-index: 1000000 !important;}/* plxAdminBar2 +10 : OLD : responsive menu plx + 1 (10000)  */
div.menubar.in-action-bar{
	background-color: transparent;
}
.in-action-bar.plx58, .in-action-bar.plx581, .in-action-bar.plx582, .in-action-bar.plx583, .in-action-bar.plx590{
	margin-top: 8rem;
	z-index: 99;/* au dessus de .mce-fullscreen */
}
.in-action-bar.plx56, .in-action-bar.plx57{/* pluxml 5.6 et 5.7 fix */
	margin-top: 7.2rem;
	z-index: 99;/* au dessus de .mce-fullscreen */
}
.in-action-bar.plx54,.in-action-bar.plx55{/* pluxml 5.4 et 5.5 fix */
	margin-top: 4.5rem;
	z-index: 9999;/* au dessus de .mce-fullscreen */
}
.in-action-bar.plx54{/* pluxml 5.4 fix */
	/*z-index: 9999 !important */;
}
div.menubar.attach_file{
	margin-top: 3px;
	padding-bottom: 3px;
}
div.messagepreview{
	height: 250px;
	border: 1px solid black;
	padding: 5px;
	overflow: auto;
}
/* Pager bar classes */
div.pager{
	background-color: rgba(207, 207, 207, 0.207);
	overflow: hidden;
	width: 100%;
}
div.pagercontrols{
	float: left;
	width: 140px;
	text-align: center;
	padding: 10px 0px 10px 0px;
}
div.pagerinfo{
	float: right;
	padding: 10px 0px 10px 0px;
}
/* Results table classes */
table{
	width: 100%;
}
table.results tr td{
	border-bottom: 1px dotted black;
	padding: 5px;
}
table.results tr td.emptyresults{
	padding: 10px;
	font-style: italic;
	text-align: center;
}
.checkbox{
	min-width: 80px;
}
.checkbox-lrg{
	min-width: 161px;
}

.should-cut-off{
	max-width: 92%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.subscribe .should-cut-off{
	max-width: 320px;
}
.cell-off{
	min-width: 80%;
}
.cell-off b, .cell-off>span{
	min-width: 11rem;
	text-align: left;
	padding-right: 1rem;
	display: inline-block;/* legacy */
  display: inline-flex;
}
.mini{font-size-adjust:.5}
/*
#sectionmenu a.button {
	color: #fff;
	padding: .5rem .2rem;
}
*/
@media (max-width: 767px){
	.gu-hide{
		display: none;
	}

	.in-action-bar,.in-action-bar.plx55,.in-action-bar.plx54{
		z-index: unset;
		text-align: center;
	}
	.section .action-bar h2{
		font-size: 1.1em;
	}
	#imghead{display:none;}/* hide foot img in plx admin menu */
	.imglink img{
		width:27px;
		height:27px;
	}
}
@media (max-width: 480px){
	div.formfield > div{
		max-width: 100% !important;
	}
}
